@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



#WhyChoose{
    background: url('/assets/images/home/home_never_be_alone_bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


#discount{
    background: url('/assets/images/home/discount-on-quantity.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#PackageHero{
    background: url('/assets/images/packages/desert-raja-contact-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}